.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #352f5b;
  color: #fff;
  height: 100vh;
}

form.form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

form.form input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

form.form button[type="submit"] {
  width: 15%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #24d7ff;
  color: #fff;
}

.todo-listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  background-color: #24d7ff;
}

.item-content {
  flex: 1;
  margin-right: 10px;
}

.update-item,
.delete-item {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 10px;
}

.update-btn {
  color: #fff;
}

.delete-btn {
  color: #fff;
}